html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #4a4d9f;
  --primary-color-yellow: #fbaf32;
  --seconday-color-yellow: #fdde95;
  /* --primary-background-color: #d7d7d7; */
  --primary-background-color: #eaeaea;
}
