.container,
.container_box,
.login_form_section,
.login_form {
  display: flex;
}

.login_form,
.login_form_section {
  flex-direction: column;
}

.container,
.container_box {
  overflow: auto;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
}

.container_box {
  width: 100vw;
  align-items: center;
}

.login_section {
  background-color: white;
}

.login_form_section,
.login_form {
  width: 100%;
}

.welcome,
.login_form input,
.login_form button {
  margin: 10px 10%;
}

.welcome {
  font-size: 30px;
}

.info {
  margin: 0px 10%;
}

.login_form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.login_form input,
.login_form button {
  width: 60%;
}

.login_form input {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: solid;
  border-width: 2px;
}

.login_form button {
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 24px;
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.login_form button:hover {
  cursor: pointer;
}

.signup_link {
  color: var(--primary-color);
  font-weight: bold;
}
