.container,
.container_box,
.login_signup_form_section,
.login_signup_form {
  display: flex;
}

.login_signup_form,
.login_signup_form_section {
  flex-direction: column;
}

.container,
.container_box {
  overflow: auto;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
}

.container_box {
  width: 100vw;
  align-items: center;
}

.login_section {
  background-color: white;
}

.login_signup_form_section {
  width: 60%;
  margin: auto;
}

.welcome,
.login_signup_form input,
.login_signup_form button,
.errorMessage {
  margin: 10px 0;
}

.welcome {
  font-size: 30px;
}

.info {
  margin: 0px;
}

.login_signup_form {
  margin-top: 10px;
  margin-bottom: 30px;
}

.login_signup_form input,
.login_signup_form button,
.login_signup_form {
  width: 100%;
}

.login_signup_form input {
  font-size: 15px;
  padding: 12px 20px;
  border-radius: 24px;
  border: #444444 solid;
  border-width: 2px;
}

.login_signup_form button {
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 24px;
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.login_signup_form button:hover {
  cursor: pointer;
}

.redirect_link {
  color: var(--primary-color);
  color: orange;
  font-weight: bold;
  box-shadow: 0 2px;
}

.errorMessage {
  color: red;
}
