.sidebar__container {
  background-color: var(--primary-background-color);
  height: auto;
  flex-direction: row;
  overflow: auto;
}

.sidebar__container {
  width: 300px;
  height: 100vh;
  color: black;
}

.header,
.menu,
.sidebar__container {
  display: flex;
}

.header,
.menu {
  flex-direction: column;
  height: 100vh;
}

.header {
  width: 70px;
  background-color: var(--primary-color-yellow);
  justify-content: space-between;
}

.menu,
.menu__item {
  width: 230px;
  padding: 30px 10px 0px 10px;
}

.project {
  border-radius: 10px;
}

.project select {
  width: 180px;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 15px;
  background-color: inherit;
}

.profile_button,
.home_button {
  margin: 10px 15px;
}

.profile,
.logo {
  width: 40px;
  height: 40px;
}

.profile {
  background-color: white;
  border-radius: 50px;
}

.profile_button {
  margin-bottom: 30px;
}

.notication__icon,
.logout__icon,
.project__setting,
.project__add {
  color: #4e400d;
  width: 30px;
  height: 30px;
}

.notification__button,
.logout__button,
.project_setting_button,
.project_add_button {
  margin: 30px 20px;
}

.logo {
  color: black;
}

.home_button {
  margin-top: 30px;
}

.logo:hover,
.logout__icon:hover,
.notication__icon:hover,
.profile:hover,
.menu__item:hover,
.project__setting:hover,
.project__add:hover {
  cursor: pointer;
}

.logout__button span,
.notification__button span,
.profile_button span,
.home_button span,
.project_setting_button span,
.project_add_button span {
  position: absolute;
  background-color: #4e400d;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
}

.logout__button span,
.notification__button span,
.profile_button span,
.home_button span,
.project_setting_button span,
.project_add_button span,
.project legend {
  font-size: 13px;
}

.logout__button:hover span,
.notification__button:hover span,
.profile_button:hover span,
.home_button:hover span,
.project_setting_button:hover span,
.project_add_button:hover span {
  visibility: visible;
}
